.*
__pycache__
**/__pycache__/
*.pyc
*.pyo
!/.gitignore
.DS_Store
/**/reference/*.*
/**/reference-pages/
/dist/
/build/
/gamut.egg-info/
/audio_examples/
test*.py
TODO.txt
**/Icon?
**/*.gamut
**/*.wav
**/*.html
**/build
**/*.rst
!**/index.rst
