.*
__pycache__
**/__pycache__/
*.pyc
*.pyo
!/.gitignore
.DS_Store
/**/reference/*.*
/**/reference-pages/
/dist/
/build/
/gamut.egg-info/
/audio_examples/
test.py
logo.ai
/images/
TODO.txt
**/Icon?
**/*.gamut
test.py